<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuncode.system.mapper.SysRoleDeptMapper">

    <!-- 根据角色ID查询部门列表 -->
    <select id="selectDeptIdsByRoleId" resultType="java.lang.Long">
        SELECT dept_id
        FROM sys_role_dept
        WHERE role_id = #{roleId}
    </select>

    <!-- 根据角色ID删除关联 -->
    <delete id="deleteByRoleId">
        DELETE FROM sys_role_dept
        WHERE role_id = #{roleId}
    </delete>

    <!-- 批量插入角色部门关联 -->
    <insert id="batchInsert">
        INSERT INTO sys_role_dept (id, role_id, dept_id, tenant_id, create_time)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.id}, #{item.roleId}, #{item.deptId}, #{item.tenantId}, #{item.createTime})
        </foreach>
    </insert>

</mapper>
